/* ui layout changes for .container 
 .slim:					max width is now 32rem instaed of 40rem
 .connect:				connects links together
 .compact:				make links compact
 .cols-2/.cols-3: show either 1,2,3 or just 1,2 columns
 .verdana:				use verdana font

 .nosearch:				hide search bar
 .nopic:					hide pic
 .notitle:				hide category titles
 .nogreeting:			hide greeting

 .leftpic:				put the pic to the left instead of top
 	.tallpic: 			pic will be yahallo (358*279.72px) tall and wide (only works with leftpic)
*/

/*slim*/
.container.slim { --maxwidth: 32rem; }

/*connect*/
.container.connect { --margin-col: 0px; }
.container.connect .colwrap {
	background-color: var(--main-card-background);
	border-radius: var(--border-radius);
	margin: var(--margin-row) var(--margin-col);
}
.container.connect .col {
	border-radius: 0;
	background: transparent;
}
.container.connect .greeting {
	background: transparent;
	margin: 1rem;
	padding: 0;
}
.container.connect.nogreeting:not(.notitle) .col,
.container.connect:not(.nogreeting) .col { margin: 0 }

/*compact*/
.container.compact .col { align-content: start; } 

/*cols-2 and cols-3 (cols-3 is default)*/
.container.cols-2 .colwrap {
	grid-template-areas:
	"greeting greeting"
	"col1 col2";
	grid-template-columns: 1fr 1fr;
}
.container.cols-2 .col.third-col { display: none; }

/* verdana */
.container.verdana .links,
.container.verdana .title,
.container.verdana .search, 
.container.verdana .search input {
    font-family: Verdana,sans-serif;
	font-size: 20px;
	line-height: 1.5;
}
.container.verdana .links {
	padding: 0;
	margin: 0 1rem;
}
.container.verdana .title, 
.container.verdana .search, 
.container.verdana .search input {
    padding: 0.3rem 1rem;
}
.container.verdana .search input {
    margin: 0;
    padding: 0.3rem;
}
.container.verdana h1,
.container.verdana h1.title {
	font-family: "Segoe UI",Arial,sans-serif;
	font-size: 30px;
    font-weight: 500;
}

/*no search*/
.container.nosearch .search { display: none; }

/*no pic*/
.container.nopic header { display: none; } 

/*no title*/
.container.notitle .col .title { display: none; }

/*no greeting*/
.container.nogreeting .greeting { display: none; } 

/*leftpic*/
.container.leftpic { /*by default 3 cols and search*/
	grid-template-columns: min-content 3fr;
	grid-template-rows: min-content minmax(var(--min-pic-height), 1fr);

	grid-template-areas: 
	"search search"
	"header colwrap";

	max-width: calc(var(--maxwidth) + var(--min-pic-width))
}
.container.leftpic header { max-width: var(--min-pic-width); }
.container.leftpic header img {
	width: auto;
	height: 100%;
	object-fit: cover;
	object-position: center;
	max-height: var(--min-pic-height);
	max-width: var(--min-pic-width);
}

/*connected left pic - unround stuff*/
.container.leftpic.connect header{
	border-radius: var(--border-radius);
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.container.leftpic.connect .colwrap {
	border-radius: var(--border-radius);
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
/* round the top right border when conencted and leftpic cause colwrap has margin */
.container.leftpic.nogreeting.cols-3 .third-col { border-top-right-radius: var(--border-radius) }
.container.leftpic.nogreeting.cols-2 .second-col { border-top-right-radius: var(--border-radius) }


/*2 columns leftpic*/
.container.leftpic.cols-2 { /*2 cols with search*/
	grid-template-columns: min-content 2fr;
	grid-template-areas: 
	"search search"
	"header colwrap";
}

/*lefpic nosearch*/
.container.leftpic.nosearch {
	grid-template-rows: minmax(var(--min-pic-height), 1fr);
	grid-template-areas: 
	"header colwrap";
}

/*leftpic but hidden*/
.container.leftpic.nopic { max-width: var(--maxwidth); }
.container.leftpic.nopic .colwrap { border-radius: var(--border-radius); }


/*tallpic*/
.container.tallpic {
	--min-pic-height: 358px;
}