@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Rubik:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  --main-background: #1e222a;
  --main-card-background: #282c34;
  --main-text-color: #dddddd;
  --main-text-color-secondary: #aaaaaa;
  --green: #98c379;
  --cyan: #61afef;
  --red: #e06c75;

  --border-radius: 10px;
  --border-size: 0px;

  --margin-col: 10px;
  --margin-row: 10px;

  --min-pic-height: 1fr;
  --min-pic-width: 279.72px;
}

/* ui layout changes for .container 
 .connect:				connects links together
 .cols-2 and .cols-3:	show either 1,2,3 or just 1,2 columns
 .nosearch:				hide search bar
 .nopic:				hide pic
 .notitle:				hide category titles
 .leftpic:				put the pic to the left
 .tallpic: 				pic will be atleast 360px tall
 .compact:				make links compact
*/

body {
  background-color: var(--main-background);
  color: var(--main-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
  height: 100%;
}

/*tallpic*/
.container.tallpic {
	--min-pic-height: 358px;
}
.container {
  display: grid;
  grid-template-areas:
    "header header header"
    "search search search"
    "col col col";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: minmax(var(--min-pic-height), 1fr) 1fr 1fr;

  width: 100%;
  max-width: 40rem;
}

header {
  grid-area: header;
  margin: var(--margin-row) var(--margin-col);
  border-radius: var(--border-radius);
  overflow: hidden;
  border: var(--border-size) solid var(--main-background);
}

header:hover {
  border: var(--border-size) solid var(--green);
}

header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.search {
  grid-area: search;
  padding: 1rem;
  background-color: var(--main-card-background);
  margin: var(--margin-row) var(--margin-col);
  border-radius: var(--border-radius);
  overflow: hidden;
  border: var(--border-size) solid var(--main-background);
}

.search:hover {
  border: var(--border-size) solid var(--green);
}

.search form {
  display: inline;
}

.search input {
  background: none;
  display: inline;
  border: none;
  color: var(--green);
  margin: 0 1rem;
  font-size: 1rem;
}

.search input:focus {
  outline: none;
}

.search input[type="text"] {
  width: 80%;
}

/*columns*/
.col {
  padding: 0;
  margin: var(--margin-row) var(--margin-col);
  display: grid;
  background-color: var(--main-card-background);
  border-radius: var(--border-radius);
  overflow: hidden;
  border: var(--border-size) solid var(--main-background);
}

.col:hover {
  border: var(--border-size) solid var(--green);
}

.col .title {
  padding: 0.8rem 1rem;
  background-color: #536785;
  font-weight: 800;
}

.col a {
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: var(--main-text-color-secondary);
}

.col a:hover {
  background-color: #ffffff15;
}

/* connected columns logic*/
.container.connect .col {
  border-radius: 0;
}
.container.connect {
  --margin-col: 0px;
}
.container.connect.cols-3 .col.first-col,
.container.connect.cols-2 .col.first-col {
  border-radius: var(--border-radius);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.container.connect.cols-3 .col.third-col,
.container.connect.cols-2 .col.second-col {
  border-radius: var(--border-radius);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* 2 columns*/
.container.cols-2 {
  grid-template-areas:
    "header header"
    "search search"
    "col col";
  grid-template-columns: 1fr 1fr;
}
.container.cols-2 .col.third-col {
  display: none;
}


.container.nosearch .search { display: none; } /*no search*/
.container.nopic header { display: none; } /*no pic*/
.container.notitle .col .title { display: none; } /*no title*/
.container.compact .col { align-content: start; } /*compact*/


/*leftpic*/
.container.leftpic { /*by default 3 cols and search*/
	grid-template-columns: min-content 1fr 1fr 1fr;
	grid-template-rows: min-content minmax(var(--min-pic-height), 1fr);

	grid-template-areas: 
	"search search search search"
	"header col col col";

	max-width: calc(40rem + var(--min-pic-width))
}
.container.leftpic header {
	max-width: var(--min-pic-width);
}
.container.leftpic header img {
	width: auto;
	height: 100%;
	object-fit: cover;
	object-position: center;
	max-height: var(--min-pic-height);
	max-width: var(--min-pic-width);
}

/*connected left pic - unround stuff*/
.container.leftpic.connect header{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.container.leftpic.connect .col.first-col {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

/*3 columns leftpic*/
.container.leftpic.cols-3.nosearch { /*no search*/
	grid-template-rows: minmax(var(--min-pic-height), 1fr);
	grid-template-areas: 
	"header col col col";
}

/*2 columns leftpic*/
.container.leftpic.cols-2 { /*2 cols with search*/
	grid-template-columns: min-content 1fr 1fr;
	grid-template-areas: 
	"search search search"
	"header col col";
}
.container.leftpic.cols-2.nosearch {/*2 cols without search*/
	grid-template-rows: minmax(var(--min-pic-height), 1fr);
	grid-template-areas: 
	"header col col";
}

/* mobile screen */
@media screen and (max-width: 700px) {
  .container {
    display: flex;
    flex-direction: column;
    grid-auto-rows: auto;
    width: 100%;
  }

  .col {
    grid-area: col;
  }

  .search input[type="text"] {
    width: 70%;
  }
}
